@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,600,700&display=swap');

body {
    font-family: 'DM+Sans', sans-serif !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-min-h {
    min-height: 150px !important;
}

/*Background*/
.cs-bg-image {
    background: url('../resources/hero_img.jpg') no-repeat center top / 100% !important;
    background-color: #040711 !important;
}

.cs-bg-one {
    background-color: #212936CC !important;
}

.cs-bg-sec {
    background-color: #121826CC !important;
}

/*Border*/
.cs-border-one {
    border: solid 1px #4D5562 !important;
}

.cs-border-sec {
    border-bottom: solid 1px #4D5562 !important;
}

/*Font*/
.cs-tc-one {
    color: #F9FAFB !important;
}

/*Buttons*/
.cs-btn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.cs-btn:hover {
    background-color: #4D5562 !important;
    scale: 1.1;
} 

.cs-btn-active {
    background-color: #4D5562 !important;
    border-color: transparent !important;
}

.cs-btn-sec {
    border-color: #4D5562 !important;
    color: #4D5562 !important;
}

.cs-btn-sec:hover {
    scale: 1.1;
}

.cs-btn-thr {
    border-color: #7CA9F3 !important;
    background-color: #263FA9 !important;
}

.cs-btn-thr:hover {
    scale: 1.1;
}